/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define CLMK 0
#define SYM 1
#define NAV 2
#define NUM 3
#define FUN 4
#define BLT 5

/ {
    chosen {
        zmk,physical-layout = <&foostan_corne_5col_layout>;
    };
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        // Layer: MAIN
        // ┏━━━━━━━━━━━━━ Left-side ━━━━━━━━━━━━━━━┓    ┏━━━━━━━━━━━━━ Right-side ━━━━━━━━━━━━━━┓
        // ┣━━━━━━━╈━━━━━━━╈━━━━━━━╈━━━━━━━╈━━━━━━━┪    ┢━━━━━━━╈━━━━━━━╈━━━━━━━╈━━━━━━━╈━━━━━━━┫
        // ┃   Q   ┃   W   ┃   F   ┃   P   ┃   B   ┃    ┃   J   ┃   L   ┃   U   ┃   Y   ┃   ;   ┃
        // ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫    ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
        // ┃ ⇧ ┊ A ┃ ⌃ ┊ R ┃ ⌥ ┊ S ┃ ⌘ ┊ T ┃   G   ┃    ┃   M   ┃ N ┊ ⌘ ┃ E ┊ ⌥ ┃ I ┊ ⌃ ┃ O ┊ ⇧ ┃
        // ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫    ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
        // ┃   Z   ┃   X   ┃   C   ┃   D   ┃   V   ┃    ┃   K   ┃   H   ┃   ,   ┃   .   ┃   /   ┃
        // ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛    ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛
        //                 ┌───────┬───────┬───────┐    ┌───────┬───────┬───────┐
        //                 │   ⌘   │ 󰭜 ┊ 󰎥 │ ␣ ┊↑# │    │   ⏎   │ 󱁐 ┊ 󰎨 │   󰎺   │
        //                 ╰───────┴───────┴───────┘    └───────┴───────┴───────╯
        // this is a COLEMAKE MOD-DH layout
        COLEMAK {
            display-name = "CLMK LYR";
            bindings = <
              &kp Q   &kp W   &kp F   &kp P   &kp B        &kp J   &kp L   &kp U   &kp Y   &kp SEMI
            &hm LSHFT A &hm LCTRL R &hm LALT S  &hm LCMD T  &kp G    &hm RCMD M  &hm RALT N  &hm RCTRL E  &hm RSHFT I  &kp O
            &kp Z  &kp X  &kp C  &kp D  &kp V    &kp K  &kp H  &kp COMMA  &kp DOT  &kp FSLH
                                &mt A SYM  &mt B NAV  &lt NUM SPACE       &kp RET  &mt DOT NUM  &mt C BLT
            >;
        };
        SYMBOL {
            display-name = "SYM LYR";
        };
        NAVIGATION {
            display-name = "NAV LYR";
        };
        NUMBER {
            display-name = "NUM LYR";
        };
        FUNCTION {
            display-name = "FUN LYR";
        };
        BLUETOOTH {
            display-name = "BLT LYR";
        };
    };
};
